body {
    background: linear-gradient(-45deg, #090e45, #2a645e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

h1#title {
  text-align: center;
  color: white;
}

#submission {
  display: flex;
  justify-content: center;
  align-items: center;
}

.messageDiv {
  float: left;
  width: 30%;
  margin: 1rem;
}

.remove-btn {
  position: absolute;
  right: 0px;
}